@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .ratings {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    color: #b1b1b1;
    overflow: hidden;
  }

  .full-stars{
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    color: #fde16d;
  }

  .empty-stars:before,
  .full-stars:before {
    content: "\1F37D\1F37D\1F37D\1F37D\1F37D";
    font-size: 14pt;
    letter-spacing: .3rem;
  }

  .empty-stars:before {
    @apply text-gray-400;
    /* -webkit-text-stroke: 1px ; */
  }

  .full-stars:before {
    @apply text-primary;
    /* -webkit-text-stroke: 1px orange; */
  }
  .customChecked {
    @apply text-opacity-100 line-through;
    animation: check-animate 0.5s 1;
  }
  .stepList ::marker{
    @apply font-bold;
    content: "Step " counter(list-item) ": ";
  }
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@keyframes check-animate{
  0%, 100%{
    @apply transform scale-100;
  }
  50%{
    @apply transform scale-150 text-opacity-0;
  }
}
